@import "vars";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {height: 100%}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: color 600ms ease;
}

img {max-width: 100%}

header {
  width: 90%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header >.logo{
  font-size: 20px;
  font-weight: 700;
}

header > .nav{
  position:relative;
  left: -50px;
}

header > .nav a {
  display: inline-block;
  margin: 0 15px;
  color: #505050;
  font-weight: bold;
}

header > .nav a:hover{color: lighten($main-color, 15%)}

header > .menu {
  cursor: pointer;
  font-size: 20px;
  color: lighten($main-color, 15%);//#60958f;
}

header > .menu:hover{color:#505050}

#hidden-menu {
  width: 300px;
  position: fixed;
  top: 10px;
  right: -300px;
  height: 100vh;
  z-index: 10;
  background: #fff;
  text-align: center;

  h3 {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;

    li {
      display: block;
      margin-bottom: 10px;
      a {
        color: #333;
        &:hover {color: #aaa}
      }
    }
  }

  & .close{
    font-size: 30px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    transition: color 600ms ease;

    &:hover{color: #652f2f}
  }
}



.wrapper{
  width: 100%;
  @include gradient(45deg, $main-color, #b9d8e4);

  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  min-width: 50%;
}






/* скрываем //чекбоксы// и блоки с содержанием */
//.hide,
.hide + label ~ div {
    display: none;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
}
//color: #007cb2
.mainblock{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background: $color-for-btn-and-block;
  border-radius: 2px;
  padding: 2% 0;
  //height: 85vh;

  h2{
    font-family: 'Lora', serif;
    text-align: left;
    color: #454545;
    padding: 0 5%;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 15%;
    margin-top: 50px;
  }

  button {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #fff;
    font-size: 18px;
    height: 50px;
    width: 45%;
    transition: all 1s ease;
    cursor: pointer;
    background: darken($main-color, 5%);
    color: $color-for-btn-and-block;
    &.confirm-btn:hover{
      @include buttons-cover(#399354, #fff);
    }
    &.download-btn:hover{
      @include buttons-cover(#303030, #fff);
    }
  }
}

.calculator_content, input {
  font-size: 15px;
}


footer {
  width: 90%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darken($main-color, 5%);

  .social div {
    display: inline-block;
    margin-left: 15px;
    &:hover {transform: scale(1.1)}
  }

  p {
    color: #f9f9f9;
    font-size: 14px;
  }

  .up-to-top,
  .social div {

    font-size:24px;
     width: 50px;
     height: 50px;
     text-align: center;
     line-height: 50px;
     background: #f9f9f9;
     border-radius: 1px;
     //border: 1px solid lighten($main-color, 20%)//#60958f;
     cursor: pointer;
     color: darken($main-color, 5%);
     transition: transform 300ms ease;
  }
  .up-to-top:hover{transform: translateY(-10%)}
}

.calculator_content {
  width: 90%;
  padding: 15px 5%;
  text-align: left;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
// .popup .popuptext::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: #555 transparent transparent transparent;
// }

/* Toggle this class - hide and show the popup */
// .popup .show {
//     visibility: visible;
//     -webkit-animation: fadeIn 1s;
//     animation: fadeIn 1s;
// }
//
// /* Add animation (fade in the popup) */
// @-webkit-keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }
//
// @keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity:1 ;}
// }


/* скрываем //чекбоксы// и блоки с содержанием */
//.hide,
.hide + label ~ div {
    display: none;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
}

.calculator-group {
  display: flex;
flex-direction: column;
  // justify-content: space-between;
  // align-items: stretch;
  //align-self: stretch;
}

.calculator-row-group {
  height: 30px;
  line-height: 30px;

   display: inline-grid;
   //align-items: center;
   //justify-content: center;
  //align-self: stretch;
  //justify-self: stretch;
  justify-items: stretch;

   label,
   input,
   select {
     border: none;
     line-height: inherit;
     background-color: #ebebeb;
     border: 1px solid #797a7c;
     justify-self: stretch;

   }
}




.calculator-row-unit {
  //position: absolute;
  //right: 20px;
  //width: 50px;

  overflow: hidden;

  & .units {
    //width: 50px;
    //height: inherit;

    color: #007cb2;
    text-decoration:underline;
    cursor: pointer;
    border: none;
  	//width: 150px;

  	background: transparent;
  	border: none;
    &::after {
      content: " ▾";
    }
  }
}


.calculator-row-name {
  background: #5036a4;

  min-width: 20%;
  left: 0;
  text-align: left;
}

.input-hint {

  background: #fa0;
  max-width: 30px;
  text-align: center;
  margin: auto;
}

.calculator-row-input-field {
  background: #1fb6b6;

  //position: absolute;
  //right: 70px;

  &::after{content: '*'}
}

#doit {
  border: none;
  line-height: inherit;
  background-color: #ebebeb;
  border: 1px solid #797a7c;
}
